@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;600&display=swap');


html {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(236, 234, 227);
    color: rgb(26, 26, 26);
}
.name {
    font-size: 3.5em;
}
.wrapper-1 {
    margin-top: 10vh;
    margin-bottom: 13vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Golos Text', sans-serif;
}
.wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    width: 70vh;
}
.current {
    line-height: 4vh;
}
.status {
    font-style: italic;
}
.block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}
.email {
    color: rgb(198, 142, 12);
    font-style: italic;
}
.block-title {
    font-size: 2.5em;
    width: 100%;
    padding: 2vh;
    padding-left: 4vh;
    padding-right: 4vh;
    border-radius: 12px;
    background-color: rgb(225, 224, 217);
}
.block-exp {
    margin-top: 2vh;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img {
    height: 3.5vh;
    width: auto;
    margin-right: 4vh;
}
.descope {
    height: 8vh;
    border-radius: 100%;
}
.harvard {
    margin-left: 1vh;
    margin-right: 5vh;
}
.totazi {
    margin-left: 1vh;
}
.exp-link {
    color: rgb(10, 108, 160);
    text-decoration: none;
}
.exp-title {
    font-weight: 400;
    font-size: 1.14em;
    padding: 0;
    margin: 0;
}
.exp-team {
    padding: 0;
    margin: 0;
    margin-top: 0.5vh;
}
/* .link {
    color: black;
} */
.link-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact-icon {
    width: 5vh;
    height: auto;
}
.rotate-right {
    animation: rotate 4s linear infinite
}
.rotate-left {
    animation: rotate-left 4s linear infinite;
}
.circle {
    width: 6vh;
    height: auto;
}
.waterloo {
    width: 8vh;
    height: auto;
}
.tohacks {
    width: 8vh;
    height: auto;
    margin-right: 3vh;
}
.studye {
    height: 7vh;
    width: auto;
}
.hack-title {
    font-weight: 400;
}
.face {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    border: 3px solid rgb(38, 38, 38);
    object-fit: cover;
}
.exp-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hack3 {
    height: 7vh;
    width: auto;
}
.kurius {
    height: 8vh;
    width: auto;
}
.titles {
    font-size: 1.1em;
}
.current {
    font-size: 1.1em;
}
.tedx {
    margin-right: 3vh;
}
.navbar {
    margin-bottom: 3vh;
    width: 100%;
}
.wave-animate {
    animation-name: wave-animation;  
    animation-duration: 2.5s;      
    animation-iteration-count: infinite;  
    display: inline-block;
}
.navbar-li {
    color: black;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
} 
.navbar-li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 0px;
    background-color: #1e1e1e;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
.navbar-li:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
.copyright {
    margin-top: 10vh;
}

@-moz-keyframes rotate { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes rotate { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes rotate { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

@-moz-keyframes rotate-left { 
    100% { -moz-transform: rotate(-360deg); } 
}
@-webkit-keyframes rotate-left { 
    100% { -webkit-transform: rotate(-360deg); } 
}
@keyframes rotate-left { 
    100% { 
        -webkit-transform: rotate(-360deg); 
        transform:rotate(-360deg); 
    } 
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }  
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) } 
    100% { transform: rotate( 0.0deg) }
}
@media only screen and (max-width: 768px) {
    .wrapper {
        width: 90%;
    }
    .img {
        margin-bottom: 2vh;
    }
    .link {
        margin-right: 2vh;
        margin-bottom: 2vh;
    }
    .navbar {
        justify-content: flex-start;
    }
    .navbar-li {
        margin-right: 2vh;
        margin-bottom: 2vh;
    }
    .block-exp {
        flex-wrap: wrap;
    }
    .exp-logos {
        flex-wrap: wrap;
    }
    .block-title {
        width: 90%;
    }
    .link-container {
        width: 100%;
    }
}